.input-name {
    border: .1px solid #C4C4C4;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 270px;
    font-size: large;
}

.input-group {
    position: relative;
    padding-top: 23px;
    padding-left: 59px;
    padding-bottom: 31px;
    border: 1px solid #4B369D;
    border-radius: 15px;
    margin: 12.5px;
}

.input-time {
    border: .1px solid #C4C4C4;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 68px;
    font-size: large;
    text-align: center;
}

.inline-div {
    display: inline-flex;
}

.container {
    position: relative;
}