.btn-emoji {
    width: 48px;
    height: 23px;
    left: 110px;
    top: 578px;

    border: 1.5px solid #4B369D;
    box-sizing: border-box;
    border-radius: 5px;
    color: #4B369D;
}

.btn-add-emoji {
    border-style: none;
    background-color: #ffffff;
}

.reflection-container {
    background-color: #CDC9F9;
    min-height: 100vh;
    border-radius: 15px;
    padding-top: 27px;
}

.post-card {
    background-color: #ffffff;
    border-radius: 15px;
    padding: 15px;
    margin: 15px;
}

.post-title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    color: #383E56;
    margin-top: 3px;
    margin-left: 5px;
}

.post-content {
    margin-top: 5px;
    margin-left: 5px;
}

.reaction-container {
    display: flex;
    flex-wrap: wrap;
}