.btn-add-todo {
    width: 37vw;
    height: 50px;
    color: #FFFFFF;
    background-color: #4B369D;

    margin-left: 5vw;
    margin-right: 5vw;
    border: 1px solid #4B369D;
    border-radius: 15px;
    font-size: 1em;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    line-height: 27px;
}

.assignment-divider, .task-divider {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    color: #4B369D;
}

.assignment-divider {
    text-align: center;
}

.task-divider {
    text-align: start;
    margin-left: 5vw;
}
