.todo-item {
    background-color: #4B369D;
    border-radius: 15px;
    font-family: 'Poppins';
    font-style: normal;
    color: #ffffff;
    margin-bottom: 1vh;
    margin-left: 5vw;
    margin-right: 5vw;
}
.checkbox, .todo-content-container, .assignee-container, .btn-delete-todo {
    display: inline-block;
}

.checkbox {
    position: absolute;
    margin-top: 25px;
    margin-left: 25px;
}

.todo-content-container {
    margin-left: 3vw;
    height: 62px;
    margin-left: 60px;
}

.todo-content {
    font-weight: 700;
    font-size: 3.2vw;
    line-height: 21px;
    margin-bottom: 0;
}

.todo-date {
    font-weight: 500;
    font-size: 2.8vw;
    line-height: 15px;
    margin-top: 2px;
}

.btn-delete-todo {
    position: absolute;
    border-style: none;
    background-color: transparent;
    margin-top: 21px;
    right: 40px;
}

.assignee-container {
    position: absolute;
    right: 90px;
    font-size: 3.2vw;
    margin-top: 10px;
}
