.header-1-container {
    height: 10vh;
}

.header-title {
    text-align: center;
    color: #4B369D;
    font-family: 'Poppins';
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
}

.btn-back {
    margin-left: 8px;
    border-style: none;
    background-color: white;
}

.btn-edit-name {
    border-style: none;
    background-color: #ffffff;
}